 
/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/

.h2-text{
    font-size: 14px;
}

.contact-us-text{
    text-transform: uppercase;
    position: relative;
    color: #aaaaaa;
}

.contact-us-text::after{
    content: "";
    width: 120px;
    height: 1px;
    display: inline-block;
    background: #4ceb95;
    margin: 5px 10px;
}

.contact .info-box {
    color: #444444;
    padding: 20px;
    width: 100%;
    /* background: #040404; */
  }
  
  .contact .info-box i.bx {
    font-size: 24px;
    color: #18d26e;
    border-radius: 50%;
    padding: 14px;
    float: left;
    background: rgba(255, 255, 255, 0.1);
  }
  
  .contact .info-box h3 {
    font-size: 20px;
    color: rgba(255, 255, 255, 0.5);
    font-weight: 700;
    margin: 10px 0 8px 68px;
  }
  
  .contact .info-box p {
    padding: 0;
    color: #fff;
    line-height: 24px;
    font-size: 14px;
    margin: 0 0 0 68px;
  }
  
  .contact .info-box .social-links {
    
  }
  
   
  .contact .info-box .social-links a {
    padding: 1%;
    margin: 0.5%;
  }
  

.contact .container .row .col-md-6 .info-box .social-links a i{
    padding: 2%;
}

@media only screen and (max-width: 768px) {
  .contact .container .row .col-md-6 .info-box .social-links a i{
    padding: 2%;
    }
}

  
.contact .container .row .col-md-6 .info-box .social-links a i:hover {
  color: #18d26e;
}





.contact .email-form {
  padding: 30px;
  background: transparent;
}



.contact .email-form input, .contact .email-form textarea {
  border-radius: 0;
  box-shadow: none;
  font-size: 14px;
  background: transparent;
  border: 0;
  transition: 0.3s;
  color: #4ceb95;
  border: 2px solid #4ceb95;
}

.contact .email-form input:focus, .contact .email-form textarea:focus {
  background: transparent;
}

.contact .email-form input::-webkit-input-placeholder, .contact .email-form textarea::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.3);
  opacity: 1;
}

.contact .email-form input::-moz-placeholder, .contact .email-form textarea::-moz-placeholder {
  color: rgba(255, 255, 255, 0.3);
  opacity: 1;
}

.contact .email-form input:-ms-input-placeholder, .contact .email-form textarea:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.3);
  opacity: 1;
}

.contact .email-form input::-ms-input-placeholder, .contact .email-form textarea::-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.3);
  opacity: 1;
}

.contact .email-form input::placeholder, .contact .email-form textarea::placeholder {
  color: rgba(255, 255, 255, 0.3);
  opacity: 1;
}

.contact .email-form input {
  padding: 20px 15px;
}

.contact .email-form textarea {
  padding: 12px 15px;
}

.contact .email-form button[type="submit"] {
  background: #18d26e;
  border: 0;
  padding: 10px 30px;
  color: #fff;
  transition: 0.4s;
  border-radius: 4px;
}

.contact .email-form button[type="submit"]:hover {
  background: #15bb62;
}