
/*JOB DESCRIPTION */


@media only screen and (max-width: 768px) {
    .Intro{
        transform: translate(0, 10%);
    }
}

@media only screen and (max-width: 260px) {
    .Intro{
        transform: translate(0, 0%);
        font-size: 0.7rem;
    }
}

@media only screen and (min-width: 768px) {
    .Intro{
        transform: translate(0, 30%);
    }
    
}


.job-desc{
    padding: 1% !important;
    position: relative !important;
    color: white;
}

.job-desc::before{
    content: "";
    background: #35e888 !important;
    position: absolute;
    width: 100%;
    height: 4px;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}


@media only screen and (max-width: 768px) {
    .Iam-text{
        width: 100%;
        color: #aaaaaa;
        line-height: 150%;
    }
}

@media only screen and (min-width: 768px) {
    .Iam-text{
        width: 60%;
        color: #aaaaaa;
        line-height: 150%;
    }
}


.intro-box .social-links{

}

.intro-box .social-links a{
    margin: 0.5%;
}

.intro-box .social-links a i{
    /* border: 1px solid #35e888; */
}