



  /*--------------------------------------------------------------
# Credits
--------------------------------------------------------------*/
.credits {
    position: fixed;
    right: 0;
    left: 0;
    bottom: 0;
    padding: 15px;
    text-align: right;
    font-size: 13px;
    color: #fff;
    z-index: 1;
  }
  
  @media (max-width: 992px) {
    .credits {
      text-align: center;
      padding: 10px;
      background: rgba(0, 0, 0, 1);
    }
  }
  


  
  /*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.float, .float:hover{
	position:fixed;
	width:60px;
	height:60px;
	bottom:80px;
	right:15px;
	background-color:#18d26e;
	color:#fff;
	border-radius:50px;
	text-align:center;
  box-shadow: 2px 2px 3px #999;
  cursor: pointer;
  display: block;
}

.float.disappear{
  display: none;
}

.my-float{
	margin-top:22px;
}
  



  .credits a {
    color: #18d26e;
    transition: 0.3s;
  }
  
  .credits a:hover {
    color: #fff;
  }


  @keyframes Animate{
    0%{
      transform: scale(0);
    }100%{
      transform: scale(2);
    }
  }

  .hearts{
      color: #35e888 !important;
      animation: Animate infinite;
  }