/* ANIMATION OF LANDING PAGE*/

.animation{
    background: transparent;
    height: 100vh;
    width: 100%;
}


.box{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    overflow: hidden;
    width: 100%;
    height: 100%;
    z-index: -10;
}


.box li{
    position: relative;
    display: block;
    list-style: none;
    width: 25px;
    height: 25px;
    background: rgba(255, 255, 255, 0.1);
    border: 0px solid #35e888;
    animation: animate 20s linear infinite;
    bottom: -150px;
}


.box li:nth-child(1){
    left: 86%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}

.box li:nth-child(2){
    left: 12%;
    width: 30px;
    height: 30px;
    animation-duration: 1.5s;
    animation-delay: 10s;
}

.box li:nth-child(3){
    left: 70%;
    width: 100px;
    height: 100px;
    animation-delay: 5.5s;
}

.box li:nth-child(4){
    left: 42%;
    width: 150px;
    height: 150px;
    animation-duration: 15s;
    animation-delay: 0s;
}

.box li:nth-child(5){
    left: 65%;
    width: 40px;
    height: 40px;
    animation-delay: 0s;
}

.box li:nth-child(6){
    left: 15%;
    width: 110px;
    height: 110px;
    animation-delay: 3.5s;
}


.box li:nth-child(7){
    left: 23%;
    width: 40px;
    height: 40px;
    animation-delay: 3.5s;
}

.box li:nth-child(8){
    left: 32%;
    width: 30px;
    height: 30px;
    animation-delay: 3.5s;
}



@keyframes animate{
    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
    }
    100%{
        transform: translateY(-800px) rotate(360deg);
        opacity: 0;
    }
}

