
/*--------------------------------------------------------------
# Projects worked on
--------------------------------------------------------------*/
.about-boxes {
    padding: 60px 0 30px 0;
    background: #040404;
  }

  
  .about-boxes a{
    text-decoration: none;
}

  
  .about-boxes .card {
    border: 0;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
    border-radius: 30px !important;
    border: 5px solid #35e888;
  }


  .card1 {
    /* background-image: linear-gradient(to bottom, rgba(0,0,0,0.9), rgba(0,0,0,0.9)),  url('../../images/logo192.png'); */
    height: 500px;
    width: 100%;
    padding: 80px 0;
    background-position: center center;
    background-size: cover;
  }
  

  
  .about-boxes .card-body {
    padding-top: 12px;
    background: transparent !important;
  }
  
  .about-boxes .card-title {
    font-weight: 700;
    text-align: center;
    color: #35e888 !important;
  }
  
  .about-boxes .card-text {
    color: white !important;
  }
  
  
  
  @media (max-width: 1024px) {
    .about-boxes {
      background-attachment: scroll;
    }
  }
  
  
  .btn-book, .btn-book:hover {
    background: #35e888;
    color: white;
    outline: none;
    box-shadow: none;
  }
  
  
